* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
    width: 80%;
    height: 100vh;
}

.maindiv {
    display: flex;
    /* align-items: center; */
    /* background-color: rgb(242, 79, 0); */
    width: 100%;

}

.nav {
    width: 20%;
    background-color: whitesmoke;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.nav img {
    height: 70px;
}

.material-symbols-outlined {
    color: rgb(242, 79, 0);
    top: -10px;
    padding-left: 10px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.navfirst-div {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 150px;
    color: rgb(242, 79, 0);
    /* background-color: rgba(148, 142, 142, 0.507); */
    border-radius: 15px;
    height: 40px;
}

/* .navsecondy-div{
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: rgb(242, 79, 0);
    border-radius: 15px;
}
.navsecondy-div:hover{
    background-color: rgba(148, 142, 142, 0.507);
    height: 40px;
    width: 200px;
} */
.navsecond-div {
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: rgb(242, 79, 0);
    border-radius: 15px;
}

/* .navsecond-div:hover {
    background-color: rgba(148, 142, 142, 0.507);
    height: 40px;
    width: 200px;
} */

.navsec-div {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: rgb(242, 79, 0);
    border-radius: 15px;
}

.mmaindiv {
    /* display: flex; */
    /* align-items: center; */
    color: white;

}
.anyname{
    display: flex;
}

main {
    color: white;
    padding-left: 40px;
    /* width: 80%; */
}

.account-balance {
    width: 250px;
    height: 100px;
    /* background-color: blue; */
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.img {
    height: 220px;
    width: 250px;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 20px;
}

.subdiv {
    /* background-color: rgb(242, 79, 0); */
    /* width: 900px; */
    height: 300px;
    overflow-y: scroll;
    margin-left: 30px;
    text-decoration: none;
    color: rgb(242, 79, 0);
}

.subdiv::-webkit-scrollbar {
    display: none;
}

.allsubdiv {
    background-color: red;
    width: 500px;
    height: 200px;
    /* display: flex; */
}
.secondflex{
    display: flex;
    /* margin-top: 20px; */
}
.secondfleximg{
    height: 290px;
    margin-top: 20px;
    width: 560px;

}

.airtel {
    width: 500px;
    height: 50px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px gray;
    margin-left: 250px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 10px; */
    /* text-align: center; */
    /* box-sizing: border-box; */
    /* margin: auto; */
    /* align-items: center; */
}

.airtel img {
    height: 50px;
}

.airtel p {
    font-size: 12px;
    margin-left: 15px;
}

.airtime {
    /* background-color: orange; */
    display: none;
    margin-top: 150px;
    width: 80%;
    height: 100vh;
}

.ms {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.ms-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-left: 30px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 10px;
}
.mf-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-left: 30px;
    width: 30%;
    height: 75%;
    box-sizing: border-box;
    border-radius: 10px;
}

#mori {
    cursor: pointer;
}

select {
    width: 500px;
    height: 40px;
    margin-left: 70px;
    margin-top: 50px;
    outline: 1px solid rgb(242, 79, 0);
    border: none;
}

.buy {
    width: 100px;
    height: 30px;
    background-color: rgb(242, 79, 0);
    color: white;
    margin-left: 250px;
    border: none;
    margin-top: 30px;
}

.number {
    width: 500px;
    height: 40px;
    margin-left: 70px;
    margin-top: 30px;
    outline: 1px solid rgb(242, 79, 0);
    border: none;
}

.Transactions {
    background-color: rgb(242, 79, 0);
    display: none;
    width: 100%;
    height: 100%;
}

.trans-div {
    background-color: whitesmoke;
    margin: auto;
    margin-top: 30px;
    width: 700px;
    height: 500px;
    padding-left: 110px;
    padding-top: 70px;
}

.trans-input {
    outline: 1px solid rgb(242, 79, 0);
    border: none;
    width: 500px;
    height: 40px;
}

label {
    color: rgb(242, 79, 0);
}

.send {
    width: 150px;
    height: 50px;
    background-color: rgb(242, 79, 0);
    color: white;
    margin-left: 450px;
    border: none;
    margin-left: 350px;
    padding-left: 30px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.mypin {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin-left: 25px;

}

.pin {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin-left: 35px; */

}

.payment {
    padding: 50px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
}
.pay{
    display: flex;
    justify-content: center;   
}
.pay p {
    color: rgb(242, 79, 0);
    font-weight: 200;
    font-size: 30px;
}
.submodaldiv{
    /* background-color: red; */
}
.Amount{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}
.Amount p {
    margin-left: 135px;
    /* color: yellow; */
}
.Amounts{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}
.Amounts p {
    margin-left: 205px;
    /* color: yellow; */
}
.confirm{
    margin-top: 25px;
}
.pindiv{
    margin-top: 20px;
}

table,
th,
thead,
tr,
tbody,
td {
    padding: 10px;
    border-collapse: collapse;
    color: black;
    /* border: 2px solid black; */
    margin-top: 20px;
    margin-left: 20px;
}

#fileInput {
    display: none;
}
#profilebtn{
    background-color: rgb(242, 79, 0);
    margin-left: 340px;
    border: none;
    width: 100px;
    height: 30px;
}
.profilelabel{
    color: white;
}

.profilediv {
    width: 150px;
    height: 150px;
    background-color: rgb(242, 79, 0);
    border-radius: 100%;
    margin-left: 310px;
    /* right: 0; */
    /* position: absolute; */

}

.profileimage {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
}

.allprofile {
    /* background-color: black; */
    height: 190px;
    /* margin-left: 90px; */
}

/* #imgb{ */
/* margin-top: px; */
/* background-color:rgb(242, 79, 0);
    color: rgb(246, 245, 252);
    font-size: 16px;
    font-weight: 300;
    margin-left: 70px;
    border: 0.5px solid rgb(246, 245, 252);
    text-decoration: underline;
    width: 220px;
    height:40px; */
/* } */
#atmpage {
    display: none;
    background-color: white;
}

#atmpagebtn {
    background-color: rgb(242, 79, 0);
    color: white;
    width: 200px;
    height: 60px;
    border: none;
    right: 0;
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
}

#smallii {
    width: 50%;
    height: 106vh;
    /* background-color: rgb(146, 34, 107); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;




}

#smallb {
    width: 90%;
    height: 106vh;
    /* background-color: rgb(195, 114, 167); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 500px;
}


#box1 {
    width: 100%;
    height: 33%;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}


#add {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
    height: 35px;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(173, 193, 255);
    ;
    outline: none;
    color: rgb(7, 7, 57);

}

#total {
    margin-top: 20px;
    width: 70%;
    height: 50px;
    /* background-color: hotpink; */
    font-size: 16px;
    font-weight: 400;
    color: rgba(247, 246, 249, 0.5);
}

#amount {
    font-weight: 700;
}

#amm {
    display: flex;
    width: 100%;
    height: 30px;
    /* background-color: brown; */
    gap: 0.5rem;
    margin-top: -15px;
    font-weight: 700;
    font-size: 18px;

}

#atm {
    width: 100%;
    height: 90%;
    background-color: rgb(12, 2, 44);
    border-radius: 10px;
    position: absolute;
    color: aliceblue;
    left: 0;
    transition: all 1s ease;

}

#atm1 {
    width: 100%;
    height: 90%;
    background-color: black;
    border-radius: 10px;
    right: -300%;
    position: absolute;
    transition: all 1s ease;
}

#arrows {
    top: 40%;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    /* background-color: blue; */
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    cursor: pointer;
}

#arrows1 {
    top: 40%;
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    /* background-color: blue; */
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    cursor: pointer;
}

#imgatm {
    width: 70px;
    height: 60px;
}

#pay1 {
    margin-right: 10px;
    margin-left: -5px;
}

#kpatm {
    width: 100%;
    height: 30px;
    justify-content: end;
    margin-top: 10px;
    /* background-color: blue; */
    display: flex;
    /* align-items: center; */
}

#icn {
    width: 100%;
    height: 35px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icn1 {
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#net {
    width: 45px;
    height: 45px;
}

#icp {
    width: 45px;
    height: 45px;
}

#icn2 {
    width: 100%;
    height: 20px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}

#icn2 p {
    margin-top: 20px;
    margin-right: 10px;
    font-size: 12px;
}

#master {
    width: 40px;
    height: 20px;
    margin-right: 10px;
}


#icn3 {
    width: 100%;
    height: 20px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

#icn3 p {
    margin-top: 20px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#line {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(255, 232, 240);
    height: 30px;
}

#line1 {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    color: white;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    /* background-color: rgb(152, 25, 69); */
    height: 20px;
}

#line1 p {
    /* margin-top: -10px; */
    font-size: 10px;
    font-weight: 400;
}

#line3 {
    width: 90%;
    background-color: white;
    margin: 10px;
    height: 20px;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

#line4 {
    width: 85%;
    /* margin-left: 10px; */
    background-color: rgb(236, 228, 228);
    height: 30px;
}

#icn3 p {
    margin-top: -4px;
}